@import url('https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    background: #E5E6F0;
    -webkit-font-feature-smoothing: antialiased;
    font-family: Poppins, sans-serif;
}

input, button{
    font-family: Poppins, sans-serif;
}
